<div class="w-full px-3 flex flex-col">
    <div class="w-full font-semibold text-3xl">
        {{score_name}}
    </div>
    <div class="w-full flex flex-col font-extrabold text-center" style="font-size: 2.75rem; line-height: 1;">
        No inputs
    </div>
</div>
