<div class="w-full flex-shrink-0">
    <div class="text-center font-normal pt-4 pb-2 flex flex-row items-center justify-center">
        <div class="pl-0">
            Created by Autin Mitra
        </div>
        <div class="pl-4">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/superandybean/RateMyTJ">Open Source</a>
        </div>
        <div class="pl-4">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/superandybean/RateMyTJ/issues/new">Report an Issue</a>
        </div>
    </div>
</div>
