<div style="text-align:center;font-weight:500;padding-top:1rem;padding-bottom:0.5rem;display:flex; flex-direction: row; align-items: center; justify-content: center; font-weight:500;">
    <div style="padding-left: 0rem;">
        Created by Andrew Lam
    </div>
    <div style="padding-left: 1rem;">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/superandybean/RateMyTJ">Open Source</a>
    </div>
    <div style="padding-left: 1rem;">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/superandybean/RateMyTJ/issues/new">Report an Issue</a>
    </div>
</div>
