<div style="width:100%;padding-bottom:10px">
    <div style="padding-left:2.5rem; padding-top:1rem; padding-right:1rem; background-color:#202c34;">
        <div style="font-size:4.5rem; line-height:1; font-weight:700; color:white">
            <a href="/" style="color:white;">RateMyTJ</a>
        </div>
        <div style="font-size:1rem; line-height:2rem; text-align:right; font-weight:600; color: white">
            {{#if profile}}
            Hello, {{profile.display_name}}. <a href="/profile" class="aheader">View Profile</a> | <a href="/logout" class="aheader">Logout</a>
            {{else}}
            <a href="{{login_link}}" class="aheader">Sign in</a>
            {{/if}}
        </div>
    </div>
</div>
