<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RateMyTJ</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <link rel="stylesheet" href="/styles.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
	</head>
	<body>
		{{> header}}
        <div style="padding-left: 8px">
            <h1>Sorry! That page does not exist</h1>
            <h3>Please return to the homepage <a href="/">here</a>.</h3>
        </div>
        {{> footer}}
    </body>
</html>
