<!DOCTYPE>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1PBDTQB9FM"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-1PBDTQB9FM');
        </script>
		<link href="https://unpkg.com/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
		<meta charset="utf-8">
		<title>RateMyTJ</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <link rel="stylesheet" href="/styles.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
	</head>
	<body>
		<div class="min-h-full flex flex-col">
			{{> header}}
			<div class="text-center flex-grow">
				<div class="pl-2 font-bold text-5xl">
					Sorry! That page does not exist<br>
				</div>
				<div class="pl-2 font-bold text-4xl">
					Please return to the homepage <a href="/">here</a>.
				</div>
			</div>
			{{> footer}}
		</div>
    </body>
</html>
