<!DOCTYPE>
<html>
	{{> head_tag title="RateMyTJ"}}
	<body>
		<div class="min-h-full flex flex-col">
			{{> header}}
			<div class="text-center flex-grow">
				<div class="pl-2 font-bold text-5xl">
					Sorry! That page does not exist<br>
				</div>
				<div class="pl-2 font-bold text-4xl">
					Please return to the homepage <a href="/">here</a>.
				</div>
			</div>
			{{> footer}}
		</div>
    </body>
</html>
