<!DOCTYPE>
<html>
	{{> head_tag title="RateMyTJ"}}
	<body>
		<div class="min-h-full flex flex-col">
			{{> header}}
			<div class="text-center font-bold text-4xl flex-grow">
				Please <a href={{login_link}}>sign in through Ion</a> to view your profile.
			</div>
			{{> footer}}
		</div>
    </body>
</html>
