html {
    font-family: "Book Antiqua";
}
body {
    padding: 0;
    margin: 0;
}
.aheader {
    color: lightblue;
    text-decoration: none;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
th {
    font-weight: normal;
}
.hover_pointer:hover {
    cursor: pointer;
}
.selected_like {
    background-color: gray;
    color:white;
}
.selected_dislike {
    background-color: gray;
    color:white;
}
.selected_funny {
    background-color: gray;
    color:white;
}
.selected_like:hover {
    background-color: gray;
    color:white;
}
.selected_dislike:hover {
    background-color: gray;
    color:white;
}
.selected_funny:hover {
    background-color: gray;
    color:white;
}
.review_feedback {
    background-color: white;
    color:black;
}
.review_feedback:hover {
    background-color: gray;
    color:black;
}
