@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-family: 'Roboto Slab', serif;
}
body {
    padding: 0;
    margin: 0;
}
.aheader {
    color: lightblue;
    text-decoration: none;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
th {
    font-weight: normal;
}
table.dataTable tbody .nopadding{
    padding: 0;
}
.hover_pointer:hover {
    cursor: pointer;
}
.selected_like {
    background-color: gray;
    color:white;
}
.selected_dislike {
    background-color: gray;
    color:white;
}
.selected_funny {
    background-color: gray;
    color:white;
}
.selected_like:hover {
    background-color: gray;
    color:white;
}
.selected_dislike:hover {
    background-color: gray;
    color:white;
}
.selected_funny:hover {
    background-color: gray;
    color:white;
}
.review_feedback {
    background-color: white;
    color:black;
}
.review_feedback:hover {
    background-color: gray;
    color:black;
}

.noUi-horizontal .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
    border-width: 2px;
    border-color: gray;
}

.noUi-handle:before, .noUi-handle:after {
    display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.progress-bar-container {
    height: 10px;
    border-radius: 5px;
    background: gray;
    position: relative;
}

.progress-bar-indicator {
    height: 100%;
    border-radius: 5px;
    -webkit-mask: linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0);
}
.progress-bar-indicator::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #e5405e, #ffdb3a 70%, #4fff42);
}
.progress-bar-indicator-opposite {
    height: 100%;
    border-radius: 5px;
    -webkit-mask: linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0);
}
.progress-bar-indicator-opposite::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #4fff42, #ffdb3a 35%, #e5405e);
}

table.dataTable {
    width: 100%;
    margin: 0;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

.report_popup_animation {
    animation: slidedown 1s;
}
@keyframes slidedown {
    from {
        top: 0%
    }
    to {
        top: 50%
    }
}

.report_buttons:hover {
    color:white;
    background-color: gray;
}
